@import '../../node_modules/@leafygreen-ui/palette/dist/ui-colors.less';

.loader {
  display: flex;
  align-items: center;

  &--block {
    flex-direction: column;

    --loader-width: 3px;
    --loader-margin-right: 0px;
    --loader-margin-bottom: 0.5em;
    --loader-size: 36px;
  }

  &--inline {
    flex-direction: row;

    --loader-width: 2px;
    --loader-margin-right: 0.5em;
    --loader-margin-bottom: 0;
    --loader-size: 16px;
  }

  &__icon {
    border: var(--loader-width) solid transparent;
    border-top: var(--loader-width) solid @leafygreen__green--base;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: none;
    outline: none;

    margin-right: var(--loader-margin-right);
    margin-bottom: var(--loader-margin-bottom);
    width: var(--loader-size);
    height: var(--loader-size);

    animation: loader-spin 700ms linear infinite;
  }
}

@keyframes loader-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
