.spacer {
    &--flex {
        flex: 1 1 auto;
    }

    &--horizontal {
        flex: 0 0 auto;
        &.spacer--size-s {
            width: 0.5em;
        }
        &.spacer--size-m {
            width: 1.0em;
        }
        &.spacer--size-l {
            width: 1.5em;
        }
        &.spacer--size-xl {
            width: 2.5em;
        }
    }
    &--vertical {
        flex: 0 0 auto;
        &.spacer--size-s {
            height: 0.5em;
        }
        &.spacer--size-m {
            height: 1.0em;
        }
        &.spacer--size-l {
            height: 1.5em;
        }
        &.spacer--size-xl {
            height: 2.5em;
        }
    }
}