@import 'normalize.css/normalize.css';
@import '@leafygreen-ui/palette/dist/ui-colors.less';

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Akzidenz-Grotesk Std', Akzidenz, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: @leafygreen__gray--light-2;
}

code, pre {
  font-family: 'Source Code Pro', source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/********
  OTHER GLOBAL STYLES
  */
.radio-box-group--vertical {
  flex-direction: column;

  > label {
    margin-right: 0 !important;
    margin-top: 0.5em;
    &:first-child {
      margin-top: 0;
    }

    > div {
      width: 100% !important;
      > div > div:first-child {
        width: 100% !important;
      }
    }
  }
}

.padding {
  &--md {
    padding: 15px;
  }
}